<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Neptuo</title>

        <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap/bootstrap-theme.min.css" rel="stylesheet" />
        <link href="~/Content/common.css" rel="stylesheet" />
        <link href="~/Content/design.css" rel="stylesheet" />
        <link href="~/Content/responsivness.css" rel="stylesheet" />
    </head>
    <body>

        <nav class="navbar navbar-fixed-top" role="navigation">
            <div class="container">
                <a class="navbar-brand" href="/hello">
                    <img src="Content/Images/Logo.png" alt="Neptuo logo" height="80" />
                </a>
                <ul>
                    <li class="disabled">
                        <a href="~/projects">
                            Projects
                            <span class="glyphicon glyphicon-play"></span>
                        </a>
                    </li>
                    <li class="disabled">
                        <a href="~/webs">
                            Webs
                            <span class="glyphicon glyphicon-globe"></span>
                        </a>
                    </li>
                    <li class="disabled">
                        <a href="~/work">
                            Work
                            <span class="glyphicon glyphicon-usd"></span>
                        </a>
                    </li>
                    <li>
                        <a href="~/me">
                            Me
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="body container">
            <form>
                <input type="radio" name="lang" id="lang-cs" value="cs" checked="checked" />
                <input type="radio" name="lang" id="lang-en" value="en" />
                
                <div class="lang navbar-fixed-top">
                    <div>
                        <label for="lang-cs">Česky</label>
                        <label for="lang-en">English</label>
                    </div>
                </div>

                @RenderBody()

            </form>
        </div>

        <div class="foot">
            <div class="foot-in container">
                <div class="left">
                    Neptuo &copy; 2010 - 2013
                </div>
                <div class="right">
                    Created by <a target="_blank" href="http://people.neptuo.com/mara">Marek Fišera</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>

    </body>
</html>