@{
    ViewBag.Title = "Not found!";
}

<div class="folder">


    My name is Marek Fišera. I'm from Czech Republic, last few years I spent in Prague. In summer of 2011 I completed my Bachelor degree at CTU, Faculty of Electrotechnics, Software Engineering. In next school year I started my Master degree at the same university.

    Since 2007 I'm working as a developer of bussines solutions/web sites for travel agencies, first two years as XHTML/CSS/Javascript coder and since 2009 as .NET developer.
</div>
