@{
    ViewBag.Title = "Not found!";
}

<ul class="nav nav-tabs">
  <li class="active"><a href="#"><img src="http://is4wfw.neptuo.com/file.php?rid=35" title="HotProject" width="127" height="90" /></a></li>
  <li><a href="#"><img src="http://is4wfw.neptuo.com/file.php?rid=34" title="AMS s.r.o." width="127" height="90" /></a></li>
  <li><a href="#">Messages</a></li>
</ul>

<div class="folder left">
    <img src="http://is4wfw.neptuo.com/file.php?rid=35" title="HotProject" width="127" height="90" />
    <div class="clear"></div>
</div>
<div class="folder left">
    <img src="http://is4wfw.neptuo.com/file.php?rid=34" title="AMS s.r.o." width="127" height="90" />
    <div class="clear"></div>
</div>
