@{
    ViewBag.Title = "Not found!";
}

<div class="intro">
    <div class="intro-content container">
        <h1>Hi!</h1>
        <p>
            My name is Marek Fišera...
        </p>
    </div>
</div>

<div class="container">
    <div class="folder">
        <img class="image-left dog-image" src="~/Content/Images/mnau.jpg" width="127" height="77" alt="Já" />

        <p class="first">
            As I said, my name is Marek Fišera. Currently I'm living in the capital of Czech Republic, in Prague. 
            In summer of 2011 I have completed my Bachelor degree at CTU, Faculty of Electrotechnics, Software Engineering, graded A. 
            In next school year I started my Master degree at the same university, program called Software engineering and interactions,
            with specialization on software engineering, architecture and partial UI.
        </p>
        <hr />
        <p>
            Since 2007 I'm working as a developer of business solutions/web sites for travel agencies, 
            first two years as XHTML/CSS/Javascript coder and since 2009 as .NET developer.
        </p>
        <hr />
        <p>

        </p>


            <p class="first">
                My name is Marek Fišera. I'm from Czech Republic and last few years I spent in Prague. 
                In summer of 2011 I have completed my Bachelor degree at CTU, Faculty of Electrotechnics, Software Engineering, graded A. 
                In next school year I started my Master degree at the same university.
            </p>
            <p class="first">
                Since 2007 I'm working as a developer of bussines solutions/web sites for travel agencies, 
                first two years as XHTML/CSS/Javascript coder and since 2009 as .NET developer.
            </p>

        <div class="clear"></div>
    </div>
</div>