@{
    ViewBag.Title = "Not found!";
    ViewBag.IsError = true;
}

<div class="intro">
    <div class="intro-content container">
        <h1>Ooops!</h1>
        <p>
            We are sorry, but we are not able to find the page you are looking for.
        </p>
    </div>
</div>
<div class="container">
    <div class="folder">
        <p class="first">
            We are sorry, but we are not able to find the page you are looking for. This is probably caused by deprecated link or mistyped url address.
            Please select one of the folling links to continue on our web site:
        </p>
        <ul>
            <li><a href="~/">Hello!</a></li>
            <li><a href="~/project">Projects</a></li>
            <li><a href="~/service">Services</a></li>
            <li><a href="~/blog">Blog</a></li>
        </ul>
        <p class="last">
            Or have a nice day...
        </p>
    </div>
</div>