/* ====== BOX ================================================================================== */

.box .folder-heading {
    text-align: center;
}

.box span {
    font-size: 100px;
}

.box p {
    text-align: justify;
}

.folder .box {
    margin: 0 10px;
}

.folder .col-md-4:first-child .box {
    margin-left: 0;
}

.folder .col-md-4:last-child .box {
    margin-right: 0;
}
