/* ============================================================================================= */

@font-face {
    font-family: 'Gabriola (web)';
    src: url('../fonts/gabriola.eot');
    src: url('../fonts/gabriola.eot?#iefix') format('embedded-opentype'), url('../fonts/gabriola.woff') format('woff'), url('../fonts/gabriola.ttf') format('truetype');
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #333;
    background: #E8E8E8;
}

/* ====== TOP MENU & INTRO ===================================================================== */

.navbar-toggle {
    font-size: 36px;
    color: white;
    opacity: 0.7;
    padding: 13px 13px;
    display: none;
}

.navbar {
    position: fixed;
    overflow: hidden;
    background: #E8E8E8 url('Images/BackgroundSingle.png') repeat 0 bottom;
    border: none;
    border-radius: 0;
}

.navbar .container {
    padding: 0;
}

.navbar a {
    color: white;
}

.navbar a:hover, .navbar a:focus, .navbar li.active a, .navbar a.active {
    background: #157FCC;
}

.navbar a .glyphicon {
    font-size: 35px;
    opacity: 0.5;
}

.navbar a {
    height: 100px;
}

.navbar ul, .navbar ul li {
    display: block;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    text-decoration: none;
    padding: 15px 25px 10px 25px;
    font-size: 56px;
    font-family: "Gabriola";
    color: white;
    display: block;
}

.navbar ul.left li a {
    margin: 0 10px 0 0;
}

.navbar ul.right li a {
    margin: 0 0 0 10px;
}

.navbar ul.right li:first-child a {
    margin: 0;
}

.navbar ul li.disabled a {
    cursor: not-allowed;
    color: #737578;
    background: transparent;
}

.navbar ul li a .maintext {
    line-height: 1;
}

.navbar ul li a .subtext {
    display: block;
    font-size: 22px;
    line-height: 1;
}

.intro {
    padding: 40px 0;
    background: #E8E8E8 url('Images/BackgroundSingle.png') repeat 0 bottom;
}

.intro .intro-content {
    padding: 0 30px;
}

.intro h1 {
    font-family: "Gabriola", "Gabriola (web)", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 160px;
    line-height: 1;
    letter-spacing: -2px;
    text-rendering: optimizelegibility;
    color: white;
    margin-bottom: -5px;
}

.intro p {
    font-family: "Gabriola", "Gabriola (web)", "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 800px;
    padding-left: 8px;
    color: white;
    font-size: 40px;
    text-align: left;
}

.intro span.language {
    width: 200px; 
    text-align: right;
    float: right;
}

.intro span.language a:hover {
    text-decoration: none;
}



.body {
    margin-top: 100px;
    margin-bottom: 20px;
}

/* ====== FOOTER =============================================================================== */

footer {
    background: url('Images/FootBackground.png') repeat-x left top;
}

footer, footer a {
    color: #666666;
}

footer a {
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
    color: #666666;
}

footer .left, footer .right, footer .center {
    padding: 10px 10px;
}

/* ====== IMAGES =============================================================================== */

.image-left, .image-right {
    float: left;
}

.image-left img, .image-right img, img.image-left, img.image-right {
    display: block;
    background: url('http://www.votocvohoz.cz/assets/default/loading16.gif') no-repeat center center;
}

.image-left img + img, .image-right img + img {
    margin-top: 10px;
}

.image-left {
    margin: 10px 0 10px 10px;
}

.image-right {
    margin: 10px 10px 10px 0px;
}

img.main-image {
    max-width: 100%;
    margin: 10px auto;
    display: block;
}

img.additional-image {
    height: 150px;
    margin: 0px 10px 10px 0;
    float: left;
    display: block;
}

/* ====== VERSIONS ============================================================================= */

ul.version {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.version li {
    margin: 20px 0;
}

ul.version ul {
    list-style-type: disc;
}

ul.version li li {
    margin: 0;
}
