/* ============================================================================================= */

.box .folder-heading {
    text-align: center;
}

.box span {
    font-size: 100px;
}

.box p {
    text-align: justify;
}