@media (max-width: 759px) {
    body {
        word-wrap: break-word;
    }

    .navbar {
        position: static;
        margin-bottom: 0;
    }

    .navbar ul li {
        float: none;
    }
    
    .navbar ul.right li a, .navbar ul.left li a {
        margin: 0;
    }
    
    .navbar ul li a .subtext {
        display: block;
    }

    .body {
        margin-top: 0px;
    }

    
    .intro .intro-content {
        padding: 0 20px;
    }

    .intro h1 {
        font-size: 56px;
    }

    .intro p {
        font-size: 22px;
    }


    .folder .folder-icon {
        display: none;
    }
}

@media (max-width: 460px) {
    .navbar ul {
        float: none;
    }
}

@media (min-width: 760px) and (max-width: 979px) {
    .body {
        margin-top: 70px;
    }

    .navbar ul li a {
        height: 70px;
        padding: 10px 20px;
        font-size: 45px;
    }

    .navbar ul li a .subtext {
        display: none;
    }

    .navbar ul.left li a:first-child {
        width: 180px;
        background-image: url('Images/Logo-170.png');
        background-position-x: center;
        background-position-y: 5px;
        background-repeat: no-repeat;
    }

    .navbar ul.left li a:first-child div {
        display: none;
    }
}

@media (min-width: 980px) {
    .navbar ul.left li a:first-child {
        width: 250px;
        background-image: url('Images/Logo-220.png');
        background-position-x: center;
        background-position-y: -5px;
        background-repeat: no-repeat;
    }

    .navbar ul.left li a:first-child div.maintext {
        visibility: hidden;
    }

    .container {
        max-width: 920px;
    }
}
