@model Neptuo.WebSite.Models.Blogging.PostViewModel
@{
    ViewBag.Title = Model.Title;
}

<div class="intro blogpost">
    <div class="intro-content container">
        <h1>@Model.Title</h1>
        <p>
            @Model.Description
        </p>
    </div>
</div>

<div class="container blogpost">
    <div class="folder">
        @Html.Raw(Model.Content)
    </div>

    <div class="folder">
        <div class="left">
            Released at @Model.Model.ReleaseDate.ToShortDateString()
        </div>
        <div class="right">
            Written by Maraf
        </div>
        <div class="clear"></div>
    </div>
</div>