@{
    ViewBag.Title = "Not found!";
}

<div class="col-md-6">
    <div class="folder lang-cs">
        <h2 class="folder-heading">404 - Nenalezeno!</h2>

        <p class="first">
            Stránku, kterou hledáte u nás nemáme. Pravděpodobně se jedná o zastarý odkaz nebo o překlep v url adrese.
            Vyberte si prosím kam chcete pokračovat:
        </p>
        <ul>
            <li><a href="~/hello">Hello!</a></li>
            <li><a href="~/projects">Projects</a></li>
            <li><a href="~/webs">Webs</a></li>
            <li><a href="~/work">Work</a></li>
            <li><a href="~/me">Me</a></li>
        </ul>
        <p class="last">
            A pokud si nevyberete, mějte se krásně a nashledanou...
        </p>
    </div>
</div>

<div class="col-md-6">
    <div class="folder lang-en">
        <h2 class="folder-heading">404 - Not found!</h2>

        <p class="first">
            We are sorry, but we are not able to find the page you are looking for. This is probably caused by deprecated link or mistyped url address.
            Please select one of the folling links to continue on our web site:
        </p>
        <ul>
            <li><a href="~/hello">Hello!</a></li>
            <li><a href="~/projects">Projects</a></li>
            <li><a href="~/webs">Webs</a></li>
            <li><a href="~/work">Work</a></li>
            <li><a href="~/me">Me</a></li>
        </ul>
        <p class="last">
            Or have a nice day...
        </p>
    </div>
</div>