@{
    ViewBag.Title = "Our libraries, tools &amp; utilities that helps during development!";
}

<div class="intro">
    <div class="intro-content container">
        <h1>Our projects!</h1>
        <p>
            Our libraries, tools &amp; utilities that helps during development
        </p>
    </div>
</div>

<div class="container">
    <div class="folder">
        <h2 class="folder-heading">
            <span class="glyphicon glyphicon-tree-deciduous"></span>
            TemplateEngine
        </h2>

        <p>
            The TemplateEngine is a proof of concept. It's information system build on UI templates that are compiled to server side .NET assembly 
            and to a javascript. When the user first hits the URL, server-side pre-rendered HTML is loaded and displayed. All the interactions
            that follows are handled by javascript and so the data transfer between server and the client is minimal (JSON over AJAX).
        </p>
        <p>
            The prototype focuses on "develop once" and run both on server and client. All the UI components, data sources and controllers are designed
            in a way that there is no difference if the code is run on client using AJAX and so on, or if the interaction is done through standard
            HTTP requests and responses without any javascript involved.
        </p>
    </div>

    <div class="folder">
        <h2 class="folder-heading">
            <img src="http://filebrowser.magiccms.org/img/NET.png" height="30" />
            @Html.ActionLink(".NET packages", "Project", new { type = "dev" })
        </h2>
        
        <p>
            We have developed some libraries that simplifies our development and these libraries are mainly
            opensourced at <a href="http://www.github.com/neptuo">GitHub</a>. 
        </p>
        <p>
            These projects are coded in C#.
        </p>
        <p>
            Production ready binaries are than hosted on <a href="http://www.nuget.org/profiles/neptuo">NuGet</a>
            and development binaries can be found on <a href="https://www.myget.org/feed/Packages/neptuo-dev">MyGet feed</a>.
        </p>
    </div>
    <div class="folder">
        <h2 class="folder-heading">
            <img src="https://mygetwww-2e16.kxcdn.com/Content/images/packageDefaultIcon_vsix.png?c=Mi4xLjAuMjEwNw==" height="30" />
            @Html.ActionLink("Visual Studio Extensions", "Project", new { type = "vsix" })
        </h2>

        <p>
            As we love Visual Studio, this section contains some extensions. These extensions can be installed
            from <a href="https://www.myget.org/F/neptuo-dev/vsix/">myget feed</a>.
        </p>
    </div>
    <div class="folder">
        <h2 class="folder-heading">
            <a href="http://apps.neptuo.com/">Windows applications</a>
        </h2>

        <p>
            There you can find some applications for extending experience with Windows OS 
            (like <a href="http://apps.neptuo.com/#/winrun">WinRun</a> and <a href="http://apps.neptuo.com/#/windows-dock">WindowsDock</a>)
            or standart desktop applications (like <a href="http://apps.neptuo.com/#/media-library">MediaLibrary</a>).
        </p>
        <p>
            These applications are written in .NET, so requires it installed on your machine.
        </p>
    </div>
    <div class="folder">
        <h2 class="folder-heading">is4wfw</h2>

        <p>
            ...
        </p>
    </div>
    <div class="folder">
        <h2 class="folder-heading">WebDesk</h2>

        <p>
            ...
        </p>
    </div>
</div>