h2 {
    margin: 0;
}

a img {
    border: none;
}

body {
    line-height: 1.5;
}

p.first {
    margin-top: 0;
}

p.last {
    margin-bottom: 0;
}

.clear {
    clear: both;
}

.left {
    float: left
}

.right {
    float: right;
}

.inline-form {
    display: inline;
}

.space {
    margin: 20px;
}

.strong {
    font-weight: bold;
}


.col-md-2, .col-md-3, .col-md-4, .col-md-6, .col-md-7, .col-md-8 {
    padding: 0;
}

pre {
    font: 14px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 1.5;
    padding: 9.5px 9.5px 0 9.5px;
    border: none;
}

code {
    color: #333;
    background: #eee;
}