body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    /*font-size: 18px;*/
    background: #E8E8E8;
}

.container {
    width: 920px;
}

.navbar {
    position: fixed;
    overflow: hidden;
    /*padding-bottom: 2px;*/
    /*background: #333333;*/
    background: #E8E8E8 url('Images/BackgroundSingle.png') repeat 0 bottom;
    border: none;
    border-radius: 0;
}

.navbar .container {
    padding: 0;
}

.navbar a {
    color: white;
}

.navbar a:hover, .navbar a:focus, .navbar li.active a, .navbar a.active {
    background: #157FCC;
}

.navbar a .glyphicon {
    font-size: 35px;
    opacity: 0.5;
}

.navbar-brand {
    padding: 5px 0px 6px 7px;
}

.navbar > .container .navbar-brand {
    margin: 0;
}

.navbar-brand img {
    height: 90px;
}

.navbar-brand, .navbar ul, .navbar ul li {
    display: block;
    float: left;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

.navbar ul li a {
    text-decoration: none;
    padding: 0px 30px 10px 30px;
    font-size: 56px;
    font-family: "Gabriola";
    margin: 0 0 0 10px;
    color: white;
    display: block;
}

.navbar ul li.disabled a {
    cursor: not-allowed;
    color: #737578;
    background: transparent;
}

.navbar ul li a .subtext {
    display: block;
    font-size: 22px;
    margin-top: -20px;
}


.intro {
    padding: 40px 0;
    margin-bottom: 20px;
    background: #E8E8E8 url('Images/BackgroundSingle.png') repeat 0 bottom;
    /*background: black;*/
}
.intro .intro-content {
    padding: 0 30px;
}
.intro h1 {
    font-family: "Gabriola", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 160px;
    line-height: 1;
    letter-spacing: -2px;
    text-rendering: optimizelegibility;
    color: white;
    margin-bottom: -5px;
}
.intro p {
    font-family: "Gabriola", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 800px;
    padding-left: 8px;
    color: white;
    font-size: 40px;
    text-align: left;
}





.body {
    margin-top: 80px;
    margin-bottom: 20px;
}




.folder {
    margin: 10px;
    padding: 10px 15px 15px 15px;
    color: #444444;
    background: white;
    border: 1px solid #C0C0C0;
}

.folder-heading {
    margin-bottom: 5px;
    padding-bottom: 5px;
    color: #999999;
    border-bottom: 1px solid #C0C0C0;
}

.folder-heading h1, .folder-heading h2, .folder-heading h3, .folder-heading h4, .folder-heading h5, .folder-heading h6 {
    margin: 0;
    padding: 0;
}

.folder-separator {
    margin: 5px 0;
    border-top: 1px solid #C0C0C0;
}

.folder-foot {
    margin-top: 5px;
    padding-top: 5px;
    color: #999999;
    border-top: 1px solid #C0C0C0;
}

.folder .col-md-6 {
    padding-left: 0;
    padding-right: 15px;
}

.folder .col-md-right {
    padding-right: 0px;
}

/*.folder.lang-cs {
    background: white url('http://forms.neptuo.com/Design/Images/Langs/cs.png') no-repeat -8px -8px;
}
.folder.lang-en {
    background: white url('http://forms.neptuo.com/Design/Images/Langs/en.png') no-repeat -8px -8px;
}*/

.folder .folder-heading a[href^="http://"]:after {
    content: "\e164";
    font-family: 'Glyphicons Halflings';
    padding-left: 5px;
    font-size: 60%;
    opacity: 0.4;
    color: black;
}








.foot {
    background: url('Images/FootBackground.png') repeat-x left top;
}

.foot-in, .foot-in a {
    color: #666666;
}

.foot-in a {
    text-decoration: none;
    font-weight: bold;
}

.foot-in a:hover {
    text-decoration: underline;
}

.foot-in .left, .foot-in .right {
    padding: 10px 10px;
}







.lang {
    margin: 81px 0 0 20px;
}

.lang div {
    float: left;
    padding: 4px;
    /*color: white;*/
    background: url('Images/FootBackground.png');
    border-radius: 0 0 3px 3px;
    border: 1px solid #78797C;
    border-top: none;
}

.lang div label {
    margin: 0;
    font-weight: normal;
    cursor: pointer;
}

#lang-cs, #lang-en {
    display: none;
}

#lang-cs:checked ~ * .lang-en, #lang-cs:checked ~ .lang-en *, 
#lang-en:checked ~ * .lang-cs, #lang-en:checked ~ .lang-cs * {
    /*opacity: 0.2;*/
    color: #E4E4E4 !important;
}

#lang-cs:checked ~ * label[for=lang-cs], #lang-en:checked ~ * label[for=lang-en] {
    color: red;
}




.image-left, .image-right {
    float: left;
}

.image-left img, .image-right img, img.image-left, img.image-right {
    display: block;
    background: url('http://www.votocvohoz.cz/assets/default/loading16.gif') no-repeat center center;
}

.image-left img + img, .image-right img + img {
    margin-top: 10px;
}

.image-left {
    margin: 10px 0 10px 10px;
}
.image-right {
    margin: 10px 10px 10px 0px;
}